

<ion-content [fullscreen]="true">
<div class="container">

  <h1>Política de Privacidad para Te Llevo App</h1>

  
  <p>Última actualización: [Fecha]</p>
  

  <p><strong>1. Información que Recopilamos:</strong></p>
  <p><strong>1.1. Información del Usuario:</strong><br>
  - Nombre<br>
  - Dirección de correo electrónico<br>
  - Número de teléfono<br>
  - Fotografía de perfil</p>
  <p><strong>1.2. Información de Ubicación:</strong><br>
  - Datos de ubicación en tiempo real durante el uso de la aplicación.</p>
  

  <p><strong>2. Uso de la Información:</strong></p>
  <p><strong>2.1. Propósitos del Uso:</strong><br>
  - Facilitar la solicitud y prestación de servicios de transporte a través de Te Llevo App.<br>
  - Mejorar la experiencia del usuario.<br>
  - Personalizar la aplicación según tus preferencias.</p>
  <p><strong>2.2. Comunicaciones:</strong><br>
  - Enviaremos comunicaciones relacionadas con el servicio, como confirmaciones de viajes y actualizaciones importantes.</p>
  
  <p><strong>3. Compartir Información:</strong></p>
  <p><strong>3.1. Terceros:</strong><br>
  - Podemos compartir tu información con socios de servicios para facilitar la prestación de servicios de transporte a través de Te Llevo App.</p>
  <p><strong>3.2. Requisitos Legales:</strong><br>
  - Revelaremos información cuando lo exijan las leyes y regulaciones aplicables.</p>
  

  <p><strong>4. Seguridad:</strong></p>
  <p><strong>4.1. Medidas de Seguridad:</strong><br>
  - Implementamos medidas de seguridad para proteger la información personal contra accesos no autorizados.</p>

  <p><strong>5. Retención de Datos:</strong></p>
  <p><strong>5.1. Período de Retención:</strong><br>
  - Retendremos la información durante el tiempo necesario para cumplir con los fines mencionados en esta política.</p>
  

  <p><strong>6. Tus Derechos:</strong></p>
  <p><strong>6.1. Acceso y Corrección:</strong><br>
  - Puedes acceder y corregir tu información personal en la configuración de Te Llevo App.</p>
  <p><strong>6.2. Retiro del Consentimiento:</strong><br>
  - Puedes retirar tu consentimiento para el procesamiento de datos personales en cualquier momento.</p>
  

  <p><strong>7. Cambios en la Política de Privacidad:</strong></p>
  <p><strong>7.1. Notificación de Cambios:</strong><br>
  - Notificaremos cualquier cambio en nuestra política de privacidad mediante la publicación de la versión actualizada en Te Llevo App.</p>
  

  <p><strong>8. Contacto:</strong></p>
  <p><strong>8.1. Contacto:</strong><br>
  - Para preguntas o inquietudes sobre esta política, contáctanos en  <a href="mailto:soporte@tellevoapp.com">soporte@tellevoapp.com</a>.</p>
  
  <p>Gracias por confiar en Te Llevo App. Al utilizar nuestra aplicación, aceptas los términos de esta política de privacidad.</p>
</div>
</ion-content>
