#contenido{
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100%;
    padding: 0px 5%;
}
td, th{
    background: #000000;
    border: 1px #c9c9c9 solid;
    color: #ffffff;
    font-size: .8rem;
}

.b{
    margin-top: 5%;
    background-color: #0631f3;
    color: #ffffff;
    border-radius: 5px;
    height: 2.5rem;
    width: 100%;
    transition-duration: 0.5s;
}
.b:hover{
    background-color: rgb(10, 10, 10);
   }

.bu{
    margin-top: 25%;
    background-color: #0631f3;
    color: #ffffff;
    border-radius: 5px;
    height: 2.5rem;
    width: 100%;
    transition-duration: 0.5s;
}

.bu:hover{
    background-color: rgb(10, 10, 10);
   }

   input{
    display: flex;
    
    border: 1px solid #ccc;
    border-radius: 20px; 
    padding: 10px;
    width: 225px; 
    outline: none; 
    transition: border-color 0.2s;
    margin: 10px;
  }
  
  input:focus {
    border-color: #007bff; 
  }
  