<ion-content [fullscreen]="true">
  <div class="container">
     <div id="contenido">
     <table>
       <tr>
         <th>ID</th>
         <th>HORA</th>
         <th>CAPACIDAD</th>
         <th>PRECIO</th>
         <th>DESTINO</th>
       </tr>
       <tr *ngFor="let viaje of viajes">
         <td>{{viaje.id}}</td>
         <td>{{viaje.hora}}</td>
         <td>{{viaje.capacidad}}</td>
         <td>{{viaje.precio}}</td>
         <td>{{viaje.destino}}</td>
       </tr>
     </table>
     <button [routerLink]="['/mapa1']" class="bu">
       volver
     </button> 
     <button [routerLink]="['/viajes']" class="b">
       Cancelar
     </button>
   </div>
  </div>
 
</ion-content>