<ion-content [fullscreen]="true">
  <div class="container">
    <div class="arriba">
    <ion-buttons slot="start">
    
     <ion-back-button icon="arrow-back" defaultHref="/home">  </ion-back-button>
    </ion-buttons>
  </div>
  <div class="conductor">
    <h1>Conductor cercano disponible</h1>
  </div>
  <div class="centro">
      <button>
    <div class="ar" [routerLink]="['/mapa1']">
      <h2>Armando Reyes</h2>
      <div class="info">
        <ion-icon name="person-circle"></ion-icon>
        <div class="texto">
          <p id="marca">marca de vehiculo</p>
          <p>Nissan Versa.</p>
        
         
        </div>
       </div>
      </div> 
      </button>
      <button>
        <div class="ar" [routerLink]="['/usuario']">
          <h2>Armando Reyes</h2>
          <div class="info">
            <ion-icon name="person-circle"></ion-icon>
            <div class="texto">
              <p id="marca">marca de vehiculo</p>
              <p>Nissan Versa.</p>
              
            </div>
           </div>
          </div> 
          </button>
          <button>
            <div class="ar" [routerLink]="['/chofer']">
              <h2>Armando Reyes</h2>
              <div class="info">
                <ion-icon name="person-circle"></ion-icon>
                <div class="texto">
                  <p id="marca">marca de vehiculo</p>
                  <p>Nissan Versa.</p>
                 
                  
                </div>
               </div>
              </div> 
              </button>
  </div>
  <div class="menu">
    <div class="boton" [routerLink]="['/home']">
      <ion-icon name="home"></ion-icon>
      <button></button>
      <h3>Home</h3>
    </div> 
    <div class="boton" [routerLink]="['/viajes']">
      <ion-icon name="car-sport-outline"></ion-icon>
      <button></button>
      <h3>Viajes</h3>
    </div> 
    <div class="boton" [routerLink]="['/m']">
      <ion-icon name="map"></ion-icon>
      <button></button>
      <h3>mapa</h3>
    </div> 
    <div class="boton" [routerLink]="['/perfil']">
      <ion-icon name="person-circle"></ion-icon>
      <button></button>
      <h3>perfil</h3>
    </div> 
  </div>
  </div>
  
</ion-content>