<ion-content [fullscreen]="true">
  <div #map id="map"></div>
<div class="flotante">	
	<ion-list *ngIf="autocompleteItems" [hidden]="autocompleteItems.length == 0">
      		<ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        		{{ item.description }}
      		</ion-item>
			  
   	 </ion-list>
		<div class="inputs">
			<div class="input">
			  <label for="">Destino</label>
			  <input type="text" [(ngModel)]="toAdd.destino" (input)="updateSearchResults()" placeholder="Destino">
			</div>
			<div class="input">
			  <label for="">Precio</label>
			  <input type="text" [(ngModel)]="toAdd.precio" placeholder="1000">
			</div>
			<div class="input">
			  <label for="">Capacidad</label>
			  <input type="text" [(ngModel)]="toAdd.capacidad" placeholder="4">
			</div>
			<div class="input">
			  <label for="">Hora salida</label>
			  <input type="text" [(ngModel)]="toAdd.hora" placeholder="22:30">
			</div>
				<button (click)="crearViaje()">Agregar</button>
				<button [routerLink]="['/tablas']">ver listados
				</button>
			
		  </div>
</div>
</ion-content>
