

<ion-content [fullscreen]="true">
<div class="container">


<h2>Seguridad y Protección de Datos en Te Llevo App</h2>

<p>En Te Llevo App, la seguridad y protección de tus datos son de suma importancia para nosotros. Nos esforzamos por mantener un entorno seguro y confiable para todos nuestros usuarios. A continuación, detallamos algunos de los aspectos clave de nuestra política de seguridad:</p>


<h3>1. Encriptación de Datos</h3>
<p>Utilizamos tecnologías avanzadas de encriptación para proteger tus datos durante la transmisión y almacenamiento. Esto asegura que la información que compartes con nosotros esté resguardada y permanezca privada.</p>


<h3>2. Acceso Seguro</h3>
<p>Limitamos el acceso a tus datos solo a aquellos empleados que necesitan acceder a ellos para proporcionar servicios o soporte. Implementamos controles de acceso estrictos y realizamos auditorías regulares para garantizar la seguridad.</p>

<h3>3. Seguridad en las Transacciones</h3>
<p>Cuando realices transacciones a través de Te Llevo App, utilizamos protocolos seguros para proteger la información financiera y garantizar transacciones seguras.</p>


<h3>4. Monitoreo Continuo</h3>
<p>Realizamos monitoreo continuo de nuestra infraestructura para detectar y responder proactivamente a cualquier actividad sospechosa. Esto nos permite mantener un entorno seguro y protegido.</p>


<h3>5. Actualizaciones y Parches</h3>
<p>Mantenemos nuestros sistemas y software actualizados con los últimos parches de seguridad para abordar vulnerabilidades conocidas y garantizar un entorno seguro.</p>


<h3>6. Compromiso con la Privacidad</h3>
<p>Respetamos tu privacidad y nos comprometemos a utilizar tus datos solo para los fines especificados en nuestra política de privacidad. No compartiremos tu información con terceros sin tu consentimiento.</p>

<p>Estamos dedicados a proporcionar un servicio seguro y confiable. Si tienes alguna pregunta o inquietud relacionada con la seguridad, no dudes en ponerte en contacto con nuestro equipo de soporte en <a href="mailto:soporte@tellevoapp.com">soporte@tellevoapp.com</a>.</p>

</div>
</ion-content>
